
#AppContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.hbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.vbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    width: 100vw;
    height: 10vh;

    padding: 1rem;
    border-bottom: 1px solid black;
    
}

header #HomeLink {
    width: 20vw;
}

header #HomeLink a {
    font-size: 5vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}



header #Search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    width: 80vw;
}

select {
    width: 20vw !important;
}

#SearchBar {
    width: 60vw;
    height: 3rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;

    border: 1px solid black;
    border-radius: 0.5rem;
}



#mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100vw;
    height: 60vh;
}

#mainContainer #PlayListList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 100%;

    border: 1px solid black;
}


#SearchResults {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 80vw !important;
    height: 100%;
}


.SongListEntry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1px;
    width: 100%;
    height: 5vh;

    border: 1px solid black;
}

.Data {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    word-wrap: normal;
    height: 120%;
    font-size: 1.5vh;
}




#SongPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 25vh;

    border: 1px solid black;
}

#SongPlayer #SongTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

#SongPlayer #SongTitle h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#SongPlayer #SongTitle #favoriteButton {
    right: 0;
    margin-left: 1.5rem;
    width: 3rem;
    height: 3rem;
}


#SongPlayer #Spectrogram {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#SongPlayer #ProgressBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

#SongPlayer #ProgressBarContainer #ProgressBar {
    width: 80%;
    height: 1rem;
}

#SongPlayer #ProgressBarContainer #ProgressTime {
    width: 80%;
    height: 1rem;
}

#SongPlayer #SongControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

#SongPlayer #SongControls button {
    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
}